<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>	
    <ion-title style="text-align: center;">
      Information System Management Achquatition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
	<img class="center-image" src="/assets/irma.jpg" width="20%" alt=""/>
		<ion-avatar solt="start">
		</ion-avatar>
		<ion-label>
			<h2>Irmayansyah M.kom</h2>
			<h3>Nama Matakuliah</h3>
			<p>Management Of scriences</p>
		</ion-label>
		</ion-item>
<ion-card>
    <ion-list>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>Metode Penilaian</strong></ion-label>
  </ion-item>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>20% Kehadiran</strong></ion-label>
  </ion-item>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>15% KeAktifan</strong></ion-label>
  </ion-item>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>20% UTS</strong></ion-label>
  </ion-item>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>25% UAS</strong></ion-label>
  </ion-item>

</ion-list>
 <ion-card-header>
    <ion-card-subtitle>Materi Management Strategy</ion-card-subtitle>
    <ion-card-title>Pengertian Manajemen Strategi (Strategic Management) dan Prosesnya – Manajemen Strategi adalah proses analisis dan penciptaan strategi serta penerapan dan pemantauan yang berkelanjutan yang digunakan oleh organisasi dengan tujuan untuk mencapai dan mempertahankan keunggulan kompetitifnya. Manajemen Strategi juga dapat didefinisikan sebagai seni dan ilmu yang digunakan untuk merumuskan, menerapkan dan mengevaluasi keputusan lintas-fungsional yang memungkinkan organisasi untuk mencapai tujuannya.
	Dengan adanya Manajemen Strategi ini, suatu organisasi atau perusahaan dapat menilai bisnis dan industri yang digelutinya termasuk menilai kompetitornya dan menetapkan tujuan organisasinya untuk mengungguli pesaingnya di saat ini maupun di masa yang akan dan kemudian menilai kembali setiap strategi organisasinya<br>
    	
    	
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
  </ion-card-content>
</ion-card>





</ion-content>