<ion-header>
  <ion-toolbar color="primary">
	<ion-title style="text-align:center;">
		<img src="/assets/123.JPG" style="border-radius:100px;" width="20%" >
		<p style="text-align: center; margin-top: -15%;">Rani Apriliani</p>
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
	<img src="/assets/gambar1.JPG" width="5%" alt="avatar" class="left">
	<p>Hallo, apa kabar kamu hari ini?
	</p>
	<span class="time-right">11.00</span>
</div>

<div class="container darker">
	<img src="/assets/123.JPG" width="5%" alt="avatar" class="right">
	<p>
		Hiii, aku baik, kalau kamu gimana?
	</p>
	<span class="time-left">11.01</span>
</div>
<div class="container">
	<img src="/assets/gambar1.JPG" width="5%" alt="avatar" class="left">
	<p>kapan kita ketemu aku kangen?
	</p>
	<span class="time-right">11.03</span>
</div>
<div class="container darker">
	<img src="/assets/123.JPG" width="5%" alt="avatar" class="right">
	<p>
		iya nanti yaa
	</p>
	<span class="time-left">11.30</span>
</div>

<div class="ketik">
	<ion-button style="margin-bottom: -14%; margin-left: 100%;">
		<ion-icon name="send"></ion-icon>
	</ion-button>
	<ion-card>
		<ion-input placeholder="type a message"><ion-icon name="happy"></ion-icon></ion-input>
	</ion-card>
</div>
</ion-content>
