<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nama Matakuliah dan Dosen Pengajar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>  
		<img class="center-image" src="/assets/lis.jpg" width="20%" alt=""/>
		<ion-avatar solt="start">
		</ion-avatar>
		<ion-label>
			<h2>Lis Utari M.kom</h2>
			<h3>Nama Matakuliah</h3>
			<p>Management Of scriences</p>
			<br>
			<ion-button expand="full" shape="round"color="tertiary"fill="outline" (click)="openMOS()">lihat materi</ion-button>
		</ion-label>
	</ion-item>

	<ion-item>
		<img class="center-image" src="/assets/irma.jpg" width="20%" alt=""/>
		<ion-avatar solt="start">
		</ion-avatar>
		<ion-label>
			<h2>Irmayansyah M.kom</h2>
			<h3>Nama Matakuliah</h3>
			<p>Is strategi Management Acquisition</p>
			<br>
			<ion-button expand="full" shape="round" color="tertiary" fill="outline" (click)="openISMA()">lihat materi</ion-button>
		</ion-label>
	</ion-item>
	<ion-item>
		<img class="center-image" src="/assets/julio.jpg" width="20%" alt=""/>
		<ion-avatar solt="start">
		</ion-avatar>
		<ion-label>
			<h2>Julio Warmansyah M.kom,M.MSI</h2>
			<h3>Nama Matakuliah</h3>
			<p>Enterprenership</p>
			<br>
			<ion-button expand="full" shape="round" color="tertiary" fill="outline" (click)="openENT()">lihat materi</ion-button>
		</ion-label>
	</ion-item>
	<ion-item>
		<img class="center-image" src="/assets/anggra.jpg" width="20%" alt=""/>
		<ion-avatar solt="start">
		</ion-avatar>
		<ion-label>
			<h2>Anggra Triawan M.kom</h2>
			<h3>Nama Matakuliah</h3>
			<p>Aplication Depelopment</p>
			<br>
			<ion-button expand="full" shape="round" color="tertiary" fill="outline" (click)="openAD()">lihat materi</ion-button>
		</ion-label>
	</ion-item>
	<ion-item>
		<ion-avatar solt="start">
		</ion-avatar>
		<ion-label>
			<h2>Adiat Pradudin M.kom</h2>
			<h3>Nama Matakuliah</h3>
			<p>Net Centri Computing</p>
			<br>
			<ion-button expand="full" shape="round" color="tertiary" fill="outline" (click)="openNET()">lihat materi</ion-button>
		</ion-label>
	</ion-item>
	<ion-item>
		<img class="center-image" src="/assets/rajib.jpg" width="20%" alt=""/>
		<ion-avatar solt="start">
		</ion-avatar>
		<ion-label>
			<h2>Rajib Ghany M.kom</h2>
			<h3>Nama Matakuliah</h3>
			<p>Information System Project Management</p>
			<br>
			<ion-button expand="full" shape="round" color="tertiary" fill="outline" (click)="openISPM()">lihat materi</ion-button>
		</ion-label>
	</ion-item>
</ion-content>
