<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      STIKOM Binaniaga Bogor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	
	<ion-row>
<img class="imgcenter" src="/assets/logo_stikom1.png" style="border: 1px solid #000000; border-radius: 50%;  width: 300px; height: 300px;">
</ion-row>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Profil</ion-card-subtitle>
    <ion-card-title>Sekolah Tinggi Ilmu Komputer Binaniaga ( Selanjutnya di singkat menjadi STIKOM Binaniaga Bogor ) adalah salah satu perguruan tinggi swasta di kota BOGOR,<br> sesuai dengan namanya STIKOM BINANIAGA BOGOR adalah pengaruh tinggi yang mengkhususkan diri di rumpun ilmu komputer, dengan membina dua program studi jenjang sastra 1: Sistem Informasi dan Teknik Informatika.<br>
    	<br>
    	Semula berdiri dengan nama AMIK (Akademi Managemen Informatika dan komputer) Binaniaga pada tahun 1991.<br> Sejak tanggal 3 November 2003 berubah menjadi Sekolah Tinggi, Melalui Surat Keputusan Mentri Pendidikan Nasional Republik Indonesia Nomor :190/D/)/2003.<br>STIKOM BInaniaga berada di bawah naungan Yayasan Binaniaga yang juga membina perguruan tinggi STIE Binaniaga dan AMIK Bogor. 
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>  Jl. Mayor Oking Jayaatmaja Depan Stasiun KA No.27, RT.04/RW.06, Gn. Putri, Kec. Gn. Putri, Bogor, Jawa Barat 16124</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>
</ion-card>




</ion-content>