<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      STIKOM BINANIAGA BOGOR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="test-background">
	

<!-- List of Text Items -->
<ion-list>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>Kalender Akademik tahun ajaran 2018/2019</strong></ion-label>
  </ion-item>

    <ion-item class="test-background">
    <ion-icon md="md-calendar"></ion-icon>
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;">Heregistrasi Perwalian SMT Ganjil tahun 2018/2019:<br> Tanggal: 1-15 September 2018</ion-label>
</ion-item>

<ion-item class="test-background">
     <ion-icon md="md-calendar"></ion-icon>
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;">Perkuliahan Kelas A&B:<br> Tanggal: 17 September 2018 - 19 januari 2019</ion-label>
</ion-item>

<ion-item class="test-background">
     <ion-icon md="md-calendar"></ion-icon>
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;">Libur Minggu Tenang:<br> Tanggal: 5 November - 10 November 2018</ion-label>
</ion-item>

<ion-item class="test-background">
     <ion-icon md="md-calendar"></ion-icon>
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;">Ujian Tengan Semester:<br> Tanggal: 12-17 November 2018</ion-label>
</ion-item>

<ion-item class="test-background">
     <ion-icon md="md-calendar"></ion-icon>
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;">Libur Minggu Tenang:<br> Tanggal: 7-12 Januari 2019</ion-label>
</ion-item>

<ion-item class="test-background">
     <ion-icon md="md-calendar"></ion-icon>
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;">Ujian Akhir Semester:<br> Tanggal: 14-19 Januari 2019</ion-label>
</ion-item>
<ion-item class="test-background">
     <ion-icon md="md-calendar"></ion-icon>
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;">Libur Semester:<br> Tanggal: 21 januari -  23 Febuari 2019</ion-label>
</ion-item>
<ion-item class="test-background">
     <ion-icon md="md-calendar"></ion-icon>
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;">Pendaftaran Perbaikan semester Ganjil:<br> Tanggal: 28 Januari - 30 Januari 2019</ion-label>
</ion-item>
<ion-item class="test-background">
     <ion-icon md="md-calendar"></ion-icon>
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;">Pelaksanaan Perbaikan Semester Ganjil:<br> Tanggal: 4 Febuari - 16 Febuari 2019</ion-label>
</ion-item>
</ion-list>
</ion-content>
