<ion-header>
  <ion-toolbar color="primary">	
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>	
    <ion-title style="text-align: center;">
      Net Centri Computing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
	<img class="center-image" src="/assets/anggra.jpg" width="20%" alt=""/>
		<ion-avatar solt="start">
		</ion-avatar>
		<ion-label>
			<h2>Adiyat Pradudin M.kom</h2>
			<h3>Nama Matakuliah</h3>
			<p>Management Of scriences</p>
		</ion-label>
		</ion-item>
<ion-card>
    <ion-list>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>Metode Penilaian</strong></ion-label>
  </ion-item>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>20% Kehadiran</strong></ion-label>
  </ion-item>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>15% KeAktifan</strong></ion-label>
  </ion-item>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>20% UTS</strong></ion-label>
  </ion-item>
  <ion-item class="test-background">
    <ion-icon name="calender" solt="start"></ion-icon>
    <ion-label class="ion-text-warp" style="text-align: justify;"><strong>25% UAS</strong></ion-label>
  </ion-item>

</ion-list>
 <ion-card-header>
    <ion-card-subtitle>Materi Net Centri Computing</ion-card-subtitle>
    <ion-card-title>Pengguna prinsip atau konsep dari jaringan komputer dalam berbagai bidang kehidupan.secara lebih teknis net centric principle dapat di artikan sebagai konsep di dalam lingkungan jaringan komputer yang meliputi sistem<br>
    	
    	
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
  </ion-card-content>
</ion-card>





</ion-content>